openapi: 3.1.0
info:
  title: IMDb-API (TV-API) External Tools API
  description: 'Community web service (operated under the IMDb-API / TV-API brand) for receiving

    movie, TV series and cast information in JSON. Aggregates data from IMDb,

    TheMovieDb, Wikipedia, Rotten Tomatoes, Metacritic, TheTVDB, FilmAffinity and

    YouTube. Originally hosted at imdb-api.com and migrated to tv-api.com. Not an

    official IMDb / Amazon product.

    '
  version: 1.0.0
  contact:
    name: IMDb-API
    url: https://tv-api.com/
  license:
    name: Commercial / Free Tier
    url: https://tv-api.com/pricing
servers:
- url: https://tv-api.com
  description: Production (current)
- url: https://imdb-api.com
  description: Legacy host (redirects to tv-api.com)
security:
- ApiKeyInPath: []
tags:
- name: Tools
  description: Image utilities and account usage.
paths:
  /API/Usage/{apiKey}:
    get:
      tags:
      - Tools
      operationId: getUsage
      summary: Get API Usage
      description: Retrieve current account usage and quota consumption.
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Usage data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageData'
  /API/ResizeImage:
    get:
      tags:
      - Tools
      operationId: resizeImage
      summary: Resize Image
      description: Resize an arbitrary image URL to the requested dimensions.
      parameters:
      - name: apiKey
        in: query
        required: true
        schema:
          type: string
      - name: size
        in: query
        required: true
        description: Format WxH (e.g. 320x240)
        schema:
          type: string
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Resized image URL.
  /API/ResizePoster:
    get:
      tags:
      - Tools
      operationId: resizePoster
      summary: Resize Poster
      description: Resize a poster or backdrop URL using preset width tokens (w45-w1280, s32-s470).
      parameters:
      - name: apiKey
        in: query
        required: true
        schema:
          type: string
      - name: size
        in: query
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Resized poster URL.
components:
  schemas:
    UsageData:
      type: object
      properties:
        count:
          type: integer
        maximum:
          type: integer
        errorMessage:
          type: string
  parameters:
    ApiKey:
      name: apiKey
      in: path
      required: true
      description: Account API key.
      schema:
        type: string
  securitySchemes:
    ApiKeyInPath:
      type: apiKey
      in: query
      name: apiKey
      description: API key issued at https://tv-api.com after sign-up. Embedded directly in the request path for most endpoints.
